@model IEnumerable<To_doMVC.Models.AfazeresViewModel>

@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["MensagemErro"])</div>
}

@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["Mensagem"])</div>
}


@{
    ViewBag.Title = "Afazeres";
}

<h2>Relação de Afazeres</h2>
<p>
    @Html.ActionLink("Criar Afazer", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Data)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
            <td>@Html.DisplayFor(modelItem => item.Data)</td>
            <td>
                @if (item.Status)
                {
                    <text>Realizado</text>
                }
                else
                {
                    <text>Não Realizado</text>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id } ) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id } ) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id } ) |

            </td>
        </tr>
    }
</table>